<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Editor</title>
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css" media="screen">
    body {
        overflow: hidden;
    }
    #book {
	
    }
    #complier {

    }
    .ace_editor {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
	width: 100%;
	height: 400px;
	float: right;
    } 
    .ace_editor.fullScreen {
        height: auto;
        width: auto;
        border: 0;
        margin: 0;
        position: fixed !important;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }

    .fullScreen {
        overflow: hidden
    }
  </style>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Learning<span class="sr-only">(current)</span></a></li>
        <li><a href="#">Coding</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Register</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="row">
    <div id="book" class="col-sm-4">
    </div>
    <div id="complier" class="col-sm-8">
        <select id="mode" onchange="Changemode()" class="btn">
            <option value="c_cpp">C/C++</option>
            <option value="css">CSS</option>
            <option value="javascript">JavaScript</option>
            <option value="java">Java</option>
            <option value="html">HTML</option>
            <option value="python">Python</option>
            <option value="php">PHP</option>
        </select>
        <select id="doc" onchange="Changedoc()" class="btn">
            <option value="c_cpp">C/C++</option>
            <option value="css">CSS</option>
            <option value="javascript">JavaScript</option>
            <option value="java">Java</option>
            <option value="html">HTML</option>
            <option value="python">Python</option>
            <option value="php">PHP</option>
        </select>
                  
                  
        <div>
            <pre id="editor">
#include &ltiostream&gt
using namespace std;
            
int main()
{
    cout &lt&lt "Hello World" &lt&lt endl;
    cout &lt&lt "Hello World" &lt&lt endl;
    return 0;
}
            </pre>
        </div>
        <div style="float:right; width: 100%; height: 50px; background:#1a2125">
            <p>
                <input type="button" onclick="DispatchText()" class="btn btn-primary" value="Run Code">
                <input type="button" onclick="Reset()" class="btn btn-danger" value="Reset Code">
            </p>
        </div>
        <div style="width: 100%; height: 200px; background: #17171a; color: white; overflow: auto; float:right; padding:10px">
        <pre style="line-height: 15px; margin: 4px; background: #17171a; padding: 0; border: 0; color: white; font-size: 15px;"> 
Welcome to nikefd online IDE!
        </pre> $
        </div>
    </div>
</div>
<script src="../static/jquery-2.1.3.min.js" type="text/javascript"></script>
<script src="../static/src/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="../static/bootstrap.min.js" type="text/javascript"></script>
<script>
    var dom = require("ace/lib/dom");

    //add command to all new editor instaces
    require("ace/commands/default_commands").commands.push({
	name: "Toggle Fullscreen",
        bindKey: "F11",
	exec: function(editor) {
	    dom.toggleCssClass(document.body, "fullScreen")
	    dom.toggleCssClass(editor.container, "fullScreen")
	    editor.resize()
	}
    })
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/tomorrow_night");
    editor.getSession().setMode("ace/mode/c_cpp");
    document.getElementById('editor').style.fontSize='16px';
    var a = editor.getValue();

</script>

<script type="text/javascript">
    $(document).ready(function() {
	updater.start();
    });

    function DispatchText(){
        var message = editor.getValue();
        message = ToUnicode(message);
	    updater.socket.send(message);
    }
    function Reset(){
        editor.setValue("");
    }
    function Changemode(){
        var obj = document.getElementById('mode');
        var length = obj.options.length - 1;
        for (var i = length; i >= 0; i--){
            if (obj[i].selected == true){
                editor.getSession().setMode("ace/mode/"+obj[i].value);
            }
        }
    }
    function Changedoc(){
        var obj = document.getElementById('doc');
        var length = obj.options.length - 1;
        for (var i = length; i >= 0; i--){
            if (obj[i].selected == true){
                var docs = {
                    "name":"doc",
                    "type":obj[i].value
                };
                updater.socket.send(docs);
                editor.setValue(obj[i].value);
            }
        }
    }
    function ToUnicode(data){
        var str = '';
        for (var i = 0; i < data.length; i++){
            l = parseInt(data[i].charCodeAt(0),10).toString(16).length;
            if (l == 2){
                str+="\\u00"+parseInt(data[i].charCodeAt(0),10).toString(16);
            }
            else if (l == 4){
                str+="\\u"+parseInt(data[i].charCodeAt(0),10).toString(16);
            }
            else if (l == 3){
                str+="\\u0"+parseInt(data[i].charCodeAt(0),10).toString(16);
            }
            else {
                str+="\\u000"+parseInt(data[i].charCodeAt(0),10).toString(16);
            }
        }
        return str;
    }
    var updater = {
	socket: null,
	
	start: function() {
	    var url = "ws://localhost:8888/websocket";
	    updater.socket = new WebSocket(url);
	    updater.socket.onopen = function(event) {
//		alert("websockt");
	    }
	    updater.socket.onmessage = function(event) {
//		alert("message is coming!" + event.data)
		updater.showMessage(event.data);
	    }
	    updater.socket.onerror = function(event) {
		alert("error");
	    }
	    updater.socket.onclose = function(event) {
//		alert("closed");
	    }
	},

	showMessage: function(message) {
	    $("pre").append(message);
	}

    };
</script>
</html>
